<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>

<h1>Chat</h1>

<div id="chatbox">
    <!-- Здесь будет отображаться чат -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Получение chatId из контекста шаблона Django
        const chatId = "{{ chat_id }}";
    
        if (chatId) {
            // Определение протокола для WebSocket
            const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
            const wsURL = `${wsScheme}://${window.location.host}/ws/chat/${chatId}/`;
    
            // Инициализация WebSocket
            const chatSocket = new WebSocket(wsURL);
    
            chatSocket.onopen = function(event) {
                console.log("WebSocket connection opened:", event);
            };
    
            // Обработка входящего сообщения от WebSocket
            chatSocket.onmessage = function(event) {
                const messageData = JSON.parse(event.data);
                const messageElement = document.createElement("p");
                messageElement.innerText = `${messageData.sender}: ${messageData.message} `;
                document.getElementById("chatbox").appendChild(messageElement);
            };
    
            chatSocket.onclose = function(event) {
                console.log("WebSocket connection closed:", event);
            };
    
            // Функция для отправки сообщения через WebSocket
            function sendMessage() {
                const messageInput = document.getElementById("messageInput");
                const message = messageInput.value;
    
                if (message.trim() !== "") {
                    chatSocket.send(JSON.stringify({
                        "message": message
                    }));
    
                    messageInput.value = "";
                }
            }
    
            const sendButton = document.getElementById("sendButton");
            
            if (sendButton) {
                sendButton.addEventListener("click", sendMessage);
            } else {
                console.error("sendButton element is not available");
            }
        } else {
            console.error("chatId is not available");
        }
    });
</script>

<!-- Форма для отправки сообщений -->
<div>
    <input type="text" id="messageInput" placeholder="Введите сообщение">
    <button id="sendButton">Отправить</button>
</div>

</body>
</html>