.SignupPage{
    width: auto;
    height: 700px;
    border-radius: 20px;
    padding-top: 100px;
    background: radial-gradient(66.54% 118.23% at 37.47% 107.32%, #D9CBFD 0%, #7758D1 100%);
}


.SignupPageConteiner {
    width: 1000px;
    height: 600px;
    background-color: #302C4A;
    background-image: url("../../public/Bodygradien.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 2px;
}

.SignupPageinputDiv{
    height: 50px;
    width: auto;
}

.SignupPagePosition{
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 47, 82, 0.3);
    width: 500px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    border-radius: 20px;
}

.SignupPageText{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(190, 156, 190, 0.8);
}

.SignupPageH2{
    color: white;
    margin-bottom:0;
    margin-top: 0;
}



.SignupPageinput{
    background-color: black;
    border-radius: 5px;
    color: rgba(190, 156, 190, 1);
    border: 8px solid black;
    height:16px;
    width: 90%;
}

.SignupPageinputDivError,.SignupPageinputDivErrorReplay,.SignupPageinputDivErrorNickname,.SignupPageinputDivErrorName{
    text-align:start;
    color: red;
    padding-left: 5px;
}


.SignupPageinput::placeholder {
    color: rgba(190, 156, 190, 1);
}


.SignupPageContinue{
    background-color: rgba(0, 167, 255, 0.8);
    border-radius: 5px;
    padding: 4px;
    color: rgba(245, 238, 243, 1);
    font-weight: bold;
    margin-top: 10px;
}

.SignupPageContinueWith42{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 4px;
    color: rgba(101, 94, 105, 1);
    font-weight: bold;
}

.SignupPageP{
    color: rgba(215, 187, 206, 1);
    margin-bottom: 10px;
}
.SignupPageOR{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Signupline{
    background-color: rgba(190, 156, 190, 0.8);
    width: 120px;
    height: 1px;
}

@media only screen and (max-width: 1060px){
    .SignupPageConteiner{
       width: 800px;
    }

}

@media only screen and (max-width: 834px){
    .SignupPageConteiner{
       width: 600px;
    }

}

@media only screen and (max-width: 634px){
    .SignupPageConteiner{
        width: 400px;
     }
    .SignupPagePosition{
        width: 323px;
    }
    .SignupPageH2{
        font-size: clamp(2px 14vw 20px);
    }
}

@media only screen and (max-width: 430px){
    .SignupPage{
        width: 270px;
    }
    .SignupPageConteiner{
        width: 80%;
    }
    .SignupPagePosition{
        width: 80%;
    }
    .SignupPageText{
        width: 80%;
        font-size: 10px;
    }
}