/* @import url('httpsL//fonts.googleapis.com/css2?family=Poppins&display=swap'); */

#local_game {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: radial-gradient(66.54% 118.23% at 37.47% 107.32%, #D9CBFD 0%, #7758D1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#local_game_front > canvas {
    margin-top: 10%;
}