body{
  height: 1073px;
  padding: 0%;
  margin: 0;
  background: var(--background-color, 
  radial-gradient(66.54% 118.23% at 37.47% 107.32%, #D9CBFD 0%, #7758D1 100%));
}
a{
  text-decoration:none
}
main{
  height: 100%;
}
.addBodyStile{
  display: none;
  width: 100%;
  height: 100%;
}

.homeSection {
    align-items: start;
    border-radius: 20px;
    padding: 40px;

    height: 90%;
}
.stylemain {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(0, 0, 0, 0.20);
  height: 100%;
}

.left{
  min-width: 76px;
  width: 27%;
  height:100%;
  align-items: center;
  background: rgba(29, 32, 62, 0.30);
  backdrop-filter: blur(10px);
}

.midle{
  width: 100%;
  height: 97%;
}


.right{
  display: none;
  width: 27%;
  background: #1D203E;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.10) inset;
}

.SigninSignout{
  display: none;
}





@media only screen and (max-width: 858px){
  .homeSection {
    padding: 50px 5px;
  }
  .left{
    width: 76px;
  }
}

@media only screen and (max-width: 779px){
  .SigninSignout{
    display: block;
  }
  .midle{
    width: 100%;
  }
  .topplayers{
    width: 98%;
  } 
}

@media only screen and (max-width: 734px){
  .midle{
    width: 98%;
    /* justify-content: center; */
  }

}

@media only screen and (max-width: 300px){
  .topplayers{
    width: 95%;
  }
}

@media only screen and (max-width:932px){
  .right{
      display: none !important;
  }
}