.AccountMidle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color, radial-gradient(66.54% 118.23% at 37.47% 107.32%, #D9CBFD 10%, #7758D1 100%));
}

.AccountMidleContenier {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AccountMidleHeaderDiv {
    width: 100%;
    height: 40%;
    display: flex;
    background-color: rgb(83, 75, 123);
    justify-content: space-between;
}


.AccountMidleBody{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: rgb(83, 75, 123);
    justify-content: space-around;
}
.AccountMidleBodyItems{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

.AccountMidleBodyItem{
    height: 90%;
    width: 135px;
}

.AccountMidleBodyUserImage{
    width: 100%;
    height: 100%;
   
}

.AccountMidleBodyImage{
    width: 96px;
    height: 88px;
    border-radius: 20px;
    background-color: #D6D6D6;
    margin: auto;
    overflow: hidden;
}

.AccountMidleBodyItemConteiner{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.AcceptReject{
    display: flex;
    justify-content: space-between;
}

.AcceptRejectAccept{
    height: 21px;
    width: 60px;
    border-radius: 5px;
    background-color: #00A3FF;
    font-family: emoji;
}

.AcceptRejectAccept:hover{
    cursor: pointer;
}

.AcceptRejectAccept:active{
    transform: translate(0,3px);
}


.AcceptRejectReject:hover{
    cursor: pointer;
}

.AcceptRejectReject:active{
    transform: translate(0,3px);
}

.AcceptRejectReject{
    height: 21px;
    width: 60px;
    border-radius: 5px;
    background-color: #D823D7;
    font-family: emoji;
}






.AccountMidleHeaderImage {
    width: 100%;
    height: 50%;
    background-image: url("../../public/conva.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AccountMidleHeaderMain {
    width: 30%;
    text-align: center;
    color: white;
    font-family: fantasy;
    padding-top: 28px;
}

.AccountMidleHeader {
    height: 43%;
    position: relative;
}

.AccountMidleHeaderMainAvatar {
    position: relative;
}

.AccountMidleHeaderMainAvatar > img {
    width: 9em;
    height: 6em;
    border-radius: 6em;
    position: absolute;
    top: -4em;
    left: 35%;
}

.AccountMidleHeaderMainData {
    height: 1em;
    width: 100%;
    margin: 4em auto;
    text-align: center;
}

.AccountMidleHeaderMainData > h5, .AccountMidleHeaderMainData > p {
    margin: 0px;
}

.AccountMidleHeaderMainWinCount,.AccountMidleHeaderMainLossCountLossCount{
    width: 7em;
    margin: auto;
}
.AccountMidleHeaderMainWinCount:hover, .AccountMidleHeaderMainLossCountLossCount:hover{
    cursor: pointer;
    color: #7758D1;
}



/* footer */
.AccountMidleFooter {
    width: 100%;
    height: 30%;
    background-color: #534B7B;
}
.AccountMidleFooterFriends{
    width: 100%;
    height: 11%;
    background-color: #534B7B;
    border-radius: 15px;
    color: white;
}

.AccountMidleFooterDiv{
    display: flex;
    width: 100%;
    height: 76%;
    justify-content: space-around;
}
.AccountMidleFooterUser{
    display: flex;
    width: 20%;
    height: 20%;
}
.AccountMidleFooterUserImage{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.AccountMidleFooterUserName{
    font-size: 1em;
    margin: 4px;
    text-align: center;
}

@media only screen and (max-width:1200px)
{
    .AccountMidleHeaderMainAvatar>img{
        left: 2em;
    }
}


@media only screen and (max-width:706px)
{
    .AccountMidleHeaderMainAvatar>img{
        left: 2em;
    }
    
}
@media only screen and (max-width:580px)
{
    .AccountMidleHeaderMainAvatar>img{
        left: -0.5em;
    }
    .AccountMidleHeaderMainLossCountLossCount,.AccountMidleHeaderMainWinCount{
        width: 7em;
        margin: 46px auto;
    }
}
@media only screen and (max-width:400px)
{
    .AccountMidleHeaderMain{
        font-size: 8px;
    }
    .AccountMidleHeaderMainLossCountLossCount,.AccountMidleHeaderMainWinCount{
        width: 4em;
        margin: 34px auto;
    }
}